.ac {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ac h1 {
  font-size: 3.0rem;
  font-weight: bold;
  color: #2b5482;
  margin-bottom: 20px;
  text-align: center;
}
.main-heading{
  padding-top: 50px;
  align-items: center;
  font-size: 2.5rem;
}

.achievement-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  width: 900px;
  margin: 40px auto;
  position: relative;
}

.achievement-card {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  border: none;
  border-radius: 12px;
  width: 900px;
  box-shadow: none;
}
.pname{
  color: #2b5482;
}
.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project-header h3 {
  font-size: 24px;
  color: #333;
  flex: 1;
  text-align: center;
}

.project-header .uni, .project-header .cmpy {
  width: 150px;
  height: 50px;
}

.project-header .uni img, .project-header .cmpy img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.students {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.student {
  text-align: center;
}

.student-image {
  width: 140px;
  height: 180px;
  border-radius: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.student-name {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

.carousel-btn {
  background-color: #2b5482;
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.carousel-btn:hover {
  background-color: #000;
}

.carousel-btn.prev {
  position: absolute;
  left: -50px;
}

.carousel-btn.next {
  position: absolute;
  right: -50px;
}


/* 3D Priting Program */
.printing {
  text-align: center;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 12px;
  margin: 20px 0;
}

.printing-content {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  gap: 90px;
}

.printing-text {
  flex: 1;
  max-width: 700px; 
  text-align: left;
  padding: 20px;
}

.printing-model {
  flex: 1;
  width: 700px; 
}

.printing h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.printing-text h2 {
  font-size: 24px;
  color: #2b5482;
  margin-bottom: 15px;
}

.printing-text p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

/* Drone Program */
.drone {
  text-align: center;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 12px;
  margin: 20px 0;
}

.drone-content {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  gap: 90px;
}

.drone-text {
  flex: 1;
  max-width: 700px; 
  text-align: left;
  padding: 20px;
}

.drone-i {
  flex: 1;
  width: 700px; 
}
.drone-i img{
  width: 100%;
  height: 350px;
}
.drone h1 {
  font-size: 28px;
  color: #2b5482;
  margin-bottom: 20px;
}

.drone-text h2 {
  font-size: 24px;
  color: #2b5482;
  margin-bottom: 15px;
}

.drone-text p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

/* University logo */

.achievement-carousel .uni img{
  height: 50px;
  width: 150px;
}
.achievement-carousel .cmpy img{
  height: 50px;
  width: 150px;
}

.mentor {
  margin-top: 20px;
  text-align: center;
}

.mentor h4 {
  font-size: 20px;
  color: #2b5482;
}

.mentor p {
  font-size: 18px;
  color: #555;
  margin-top: 5px;
}
