.carousel {
  position: relative;
  height: 95vh; 
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  overflow: hidden;
  padding: 0; 
}

.carousel-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.carousel-content {
  position: relative;
  z-index: 1;
  color: white; 
  text-align: left; 
  max-width: 700px; 
  margin-left: 50px;
  padding: 0; 
  font-weight: 700;
  font-style: normal;
}

.carousel-content h1 {
  font-size: 3rem; 
  font-weight: bold;
  line-height: 1.3; 
  color: #ffffff; 
  font-family: 'Oswald', sans-serif;
}
