.funding-btn-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.img-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.funding-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.funding-text-overlay {
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translate(-30%, -50%);
  color: #fff;
  font-size: 60px;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  width: 90%;
  max-width: 1400px;
  gap: 50px;
}

.car,
.image-car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding: 40px;

  gap: 30px;
}

.image-car {
  font-size: 3rem;
  color: #2b5482;
  font-weight: bold;
  background-color: #f0f8ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
}

.car h3 {
  margin: 0;
  font-size: 4rem;
  color: #2b5482;
}

.car p {
  font-size: 1.2rem;
  color: #333;
}

.car button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #2b5482;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.car button:hover {
  background-color: #fff;
  color: #2b5482;
  border: #333 solid 1px;
}
