/* General Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, var(--primary-color),var(--primary-color));
  }
  
  /* Login Box */
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 24rem;
    max-width: 100%;
  }
  
  /* Title */
  .login-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
  }
  
  /* Form Styling */
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  /* Input Fields */
  .login-input-field {
    width: 100%;
    padding: 1rem;
    border: 2px solid #d1d5db;
    border-radius: 0.75rem;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .login-input-field:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(76, 110, 245, 0.2);
  }
  
  /* Submit Button */
  .login-submit-button {
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.125rem;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-submit-button:hover {
    background-color: var(--primary-color);
  }
  
  /* Toggle Text */
  .login-toggle-text {
    text-align: center;
    margin-top: 1.5rem;
    color: #6b7280;
  }
  
  /* Toggle Link */
  .login-toggle-link {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
  }
  
  .login-toggle-link:hover {
    color: var(--primary-color);
  }
  