.quote-card {
  display: flex;
  align-items: center;
  background-color: teal; 
  border-radius: 10px;
  padding: 20px;
  height: 400px;
  margin: 20px auto;
  max-width: 1300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Rajdhani', sans-serif; 
  opacity: 0; 
  transform: translateX(100%); 
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.quote-card.visible {
  opacity: 1;
  transform: translateX(0); 
}

.quote-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid black; 
  margin-right: 20px;
}

.quote-content {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: left;
}

.quote-text {
  font-size: 1.5rem;
  font-style: italic;
  color: whitesmoke;
  margin: 0;
  position: relative;
  padding-left: 20px;
}

.quote-text::before {
  content: "“ ";
  font-size: 3rem;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: -10px;
}

.quote-author {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: wheat;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
