.img-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
  
  .programs-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .programs-text-overlay {
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-30%, -50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
  }
  