.scalar-container {
  background: white; 
  color: #2b5482; 
  padding: 50px 20px;
  text-align: center;
  padding-bottom: 70px;
}

.scalar-container h2 {
  font-size: 3.2rem;
  margin-bottom: 40px;
  text-transform: uppercase;
  /* letter-spacing: 1.5px; */
  font-weight: bold;
  color: #2b5482; 
}

.scalar-stats {
  display: flex;
  justify-content: space-evenly; 
  align-items: flex-start;
  flex-wrap: wrap; 
  margin-top: 30px;
}

.scalar-item {
  text-align: center;
  margin: 20px;
}

.scalar-item .count {
  font-size: 3rem;
  font-weight: bold;
  color: #000; 
  margin-bottom: 10px;
  border-bottom: 3px solid #000; 
  display: inline-block;
  padding-bottom: 5px;
}

.scalar-item p {
  font-size: 2rem;
  color: #666; 
  margin-top: 10px;
}

@media (max-width: 768px) {
  .scalar-stats {
    flex-direction: column; 
    align-items: center;
  }

  .scalar-item {
    margin: 15px 0;
  }
}

@media (max-width: 480px) {
  .scalar-container h2 {
    font-size: 2.5rem; 
  }

  .scalar-item .count {
    font-size: 2.5rem; 
  }

  .scalar-item p {
    font-size: 0.9rem; 
  }
}
