* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #2b5482;
  --secondary-color: white;
}

html, body {
  overflow-x: hidden !important;
  width: 100vw;
  max-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100vw;
  overflow-x: hidden;
}

.navbar, .footer, .container {
  max-width: 100vw;
  overflow-x: hidden;
}
