* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #2b5482;
  --secondary-color: white;
}

html,
body {
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

html {
  scroll-behavior: smooth;
}
